$enable-responsive-font-sizes: true;
$primary: #F36B25;
$primary-light: #ffc2a3;
$primary-lightest: #ffe5d7;
$info: #0c3e55;
$jetblack: #1A1A1A;
$blue: #1493c9;
$shade1: #e2eff5;
$text-muted: #808080;

$border-color: #ced4da;
$border-radius-10: 10px;
// $border-radius-lg: 12px;
// $border-radius-sm: 8px;

$input-focus-border-color: $primary;
$input-focus-box-shadow: none;
$enable-caret: false;
$breadcrumb-divider: quote(">");
