.imgHeight {
  height: 30vh;
  object-fit: cover;
}

.addPointerEvent {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .imgHeight {
    height: 100vh;
    object-fit: cover;
  }
  .imgDiv {
    width: 65%;
  }
  .formDiv {
    width: 35%;
  }
  .pxLg7 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
