@import "../../../public/scss/variables";

.activeTab {
  position: relative;

  & * {
    color: $primary;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: $primary;
  }
}

.inactiveTab {
  & * {
    color: $text-muted;
  }
}
