@import "../../public/scss/variables";

  @media screen and (max-width: 720px) {
    
    .headweb {display: none;}
  }

  @media screen and (min-width: 720px) {
   
    .headmobile {display: none;}
    .backtotop {display: none;}
  }

  .mobbtnsrp{
      color:"#808080";
      border: 1px solid #F36B25;
      background: none;
      font-size: 12px;
      border: none;
  }

  .backtotop{
    margin-bottom:5% ;
    margin-right: 2%;
    padding: 5px;
    background-color: #F36B25;
    color:"#fff";    
    border-radius: 50%;
    height:30px;
    width:30px;
    position:fixed;
    bottom:0;
    right:0;
    z-index:99;
  }
