@import "../../../public/scss/variables";

.mobheadfilter{
    color: #F36B25;
    font-size: 12px;


}

@media screen and (min-width: 720px) {
    .mobfilter{
        display:none;                                                                                                                
      }

    .m_arrow{
        display:none;
    }
}