.dotgreen{
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3.5px !important;
}
.dotorange{
    height: 12px;
    width: 12px;
    background-color: #f36b25;
    border-radius: 50%;
    display: inline-block;
    margin-top: 3.5px !important;
}